body {
    margin: 0;
    font-family:Poppins;
    text-align: center;
    background: #434431;
    font-size: 20px;
    
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  
  .board{
    text-align:center;
    margin:auto;
   
  }
  
  .board-row{
    display:flex;
    justify-content: center;
    
  }
  
  .btn{
    height:120px;
    width:120px;
    font-size: 50px;
    
  }
  
  .App{
    width:80%;
    margin:auto;
    
  }
  
  .header{
    text-align:center;
    font-size:40px;
    text-shadow: 2px 2px 4px #bbb;
  }
  
  .hide{
    display:none;
  };